/* Base */

html, body {
	height: 100%;
	background: #381808;
}

body {
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
	color: #ffe47a;
}

#spotlight {
  height: 100%;
  background: #381808;
  background-image: 
    radial-gradient(
      ellipse closest-side,
      #79492f,
      #381808
    );
}

#mug {
  background-image: url('/images/mug.png');
  background-size: 350px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#title {
  font-family: 'Passion One';
  font-size: 70px;
  color: #fff;
  text-align: center;
  padding-top: 125px;
  letter-spacing: -3px;
  text-transform: uppercase;
}

#subtitle {
  font-family: sans-serif;
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin-top: -70px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.row a, .row a:hover {
  color: #fa463c;
  text-decoration: none;
}

.row > div h3 {
  font-size: 28px;
  text-align: center;
}

.row > div p {
  padding: 0 10px;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	line-height: 20px;
  color: #fff;  
}

/* Line */

ul.line {
  padding-top: 8px;
}

ul.line li {
  display: inline;
  float: left;  
}

ul.line li.star {
  width: 10%;
  color: #ffe47a;
  text-align: center;
  margin-top: -10px;
}

ul.line li:first-child, ul.line li:last-child {
  width: 45%;
  height: 2px;
  background-color: #792a1c;
  border: 0;
}

ul.line li:last-child {
  float: right;
}

/* Social Media */

.social-media {
  display: block;
  width: 139px;
	height: 157px;
	border: 1px solid rgba(112, 57, 29, .38);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
	text-align: center;
	color: #fff;
	-webkit-transition: color .2s ease-out;
  margin-left: 0px;
  margin-top: 10px;
}

.social-media .icon {
	display: block;
	width: 100%;
	height: 93px;
	background: url('/images/light-red-stripes.png');
}

.social-media .icon img {
	position: relative;
	top: 19px;
	-webkit-transition: top .2s ease-out;
}

a.social-media {
  color: #fff;
}

a.social-media:hover {
	color: #fa463c;
}

.social-media:hover .icon img {
	top: 15px;
}

.social-intro {
	display: block;
	font-size: 14px;
	margin-top: 8px;
}

.social-name {
	display: block;
	font-family: 'Francois One', sans-serif;
	font-size: 23px;
	text-transform: uppercase;
}

/* Media queries */

@media (min-width: 768px) {
  #title {
    font-size: 90px;
  }

  #subtitle {
    margin-top: -90px;
  }

  #mug {
    background-size: 500px;
  }

  .row {
    padding-bottom: 50px;
  }

  .social-media {
  	margin-left: 12px;
    margin-top: 0px;
  }
}
