@charset "UTF-8";
/* CSS Document */

#event {
	position: absolute;
	width: 100%;
	background: #e12e24;
	padding-top: 10px;
	z-index: 200;
}

#event-title {
	margin-bottom: 25px;
}

#drag-bar {
	position: absolute;
	bottom: -20px;
	width: 100%;
	height: 200%;
	background: url('/images/drag-down.png') center bottom no-repeat;
	cursor: s-resize;
	z-index: 100;
}

#drag-up {
	position: absolute;
	z-index: 100;
	bottom: -29px;
	width: 100%;
	height: 60px;
	background: url('/images/drag-up.png') center bottom no-repeat;
	cursor: n-resize;
	display: none;
	z-index: 100;
}

#event-info {
	display: none;
	overflow: hidden;
	margin-top: 60px;
}

#event-details {
	float: left;
	width: 450px;
	margin: 0 30px;
}

.event-label {
	font-size: 15px;
	margin-bottom: 15px;
}

.event-value {
	font-size: 29px;
	font-family: 'Francois One', sans-serif;
	color: #ffe47a;
	text-transform: uppercase;
}

.event-address {
	margin-top: 6px;
	color: #ffe47a;
}

.event-address-links {
	margin-top: 12px;
}

.event-address-links a {
	padding: 0 4px;
	margin-right: 8px;
	color: #5d2e17;
	background: rgba(93, 46, 23, 0);
	
	-webkit-transition: background .2s ease-out;
}

.event-address-links a:hover {
	background: rgba(255, 228, 122, .2);
}

#event-date {
	float: left;
	width: 210px;
	margin-right: 30px;
}

#event-temporal {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #a2301e;
}

#event-temporal:after,
#event-info:after,
.columns:after {
	content: '';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

#event-location {
	float: left;
}

#event-map {
	float: right;
}

#event-sponsor {
	float: right;
}

#event-sponsor img {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
}

#event-description {
	float: left;
	width: 640px;
	margin: 30px 30px 60px 30px;
	font-size: 15px;
	line-height: 21px;
}

#event-image {
}

#event-description p {
	margin-bottom: 21px;
}

#event-description a {
  color: #ffe47a;
}

#event-actions {
	float: right;
	width: 222px;
	margin: 30px 30px 0 0;
}

#rsvp-btn {
	display: block;
	height: 50px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .3)), to(rgba(255, 255, 255, 0)));
	background-color: #ffdd5a;
	box-shadow: 1px 1px 0 rgba(255, 255, 181, .9) inset, 1px 1px 3px rgba(0, 0, 0, .3);
	text-align: center;
	font-size: 19px;
	font-family: 'Francois One', sans-serif;
	text-transform: uppercase;
	line-height: 50px;
	color: #5d2e17;
	text-shadow: 1px 1px 0 rgba(255, 255, 181, .9);
	margin-bottom: 9px;
	
	-webkit-transition: background .25s ease-out;
}

#rsvp-btn:hover {
	background-color: #ffeb9a;
}

#calendar-btn {
	float: left;
	display: block;
	width: 110px;
	height: 28px;
	padding-left: 28px;
	background: url('/images/calendar-icon.png') 7px 7px no-repeat;
	color: #ffe47a;
	font-size: 13px;
	line-height: 27px;
	border: 1px solid rgba(255, 228, 122, .4);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	
	-webkit-transition: background-color .2s ease-out;
}

#share-btn {
	float: right;
	display: block;
	width: 44px;
	height: 28px;
	padding-left: 28px;
	background: url('/images/share-icon.png') 7px 7px no-repeat;
	color: #ffe47a;
	font-size: 13px;
	line-height: 27px;
	border: 1px solid rgba(255, 228, 122, .4);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	
	-webkit-transition: background-color .2s ease-out;
}

#calendar-btn:hover,
#share-btn:hover {
	background-color: rgba(255, 228, 122, .2);
}

#sponsors {
	float: right;
	width: 222px;
	margin: 30px 30px 0 0;
}

#site-by {
	float: right;
	clear: both;
	margin-top: 20px;
}

#site-by span.fix {
  color: #996346;
  vertical-align: top;
}

#site-by a {
	font-size: 10px;
	color: #996346;
	vertical-align: top;
}

#site-by img {
	margin-left: 2px;
}




#main {
	/*background: url('/images/mug.png') center -80px no-repeat;*/
	background: url('/images/mug-bg-2.jpg') 51% top no-repeat #381808;
	padding-top: 70px;
	width: 100%;
	min-height: 1080px;
	margin: auto;
}

#main .inner-wrapper {
	padding-top: 80px;
}

#logotype {
	display: block;
	width: 591px;
	margin: 0 auto 0 auto;
}

#logotype img {
	position: relative;
	top: 0;
	-webkit-transition: top .2s ease-out;
}

#logotype:hover img {
	top: -8px;
}



.columns {
  margin-top: 20px;
  min-height: 300px;
}

.columns.first {
	margin-top: 480px;
}

.columns.last {
  margin-top: 0;
  min-height: 0;
}

.column {
	width: 290px;
	float: left;
	margin-left: 30px;
}

.column p {
	padding: 0 10px;
}


#tweets {
	
}

#tweets li {
	border: 1px solid rgba(112, 57, 29, .38);
	margin-bottom: 10px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
}



.tweet-date {
	font-size: 10px;
	color: rgba(255, 255, 255, .6);
	background: url('/images/light-red-stripes.png');
}

.tweet-date > a {
  color: rgba(255, 255, 255, .6);
}

.tweet-date > a:hover {
  color: white;
}

.tweet {
	font-size: 12px;
	line-height: 18px;
	margin: 10px 8px;
}

.tweet a {
	background-color: rgba(250, 70, 60, 0);
	-webkit-transition: background-color .25s ease-out;
}

.tweet a:hover {
	background-color: rgba(250, 70, 60, .2);
}




.social-media {
	display: block;
	float: left;
	width: 139px;
	height: 157px;
	
	border: 1px solid rgba(112, 57, 29, .38);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
	
	text-align: center;
	
	color: #fff;
	-webkit-transition: color .2s ease-out;
}

#twitter {
	margin-right: 8px;
}

.social-media .icon {
	display: block;
	width: 100%;
	height: 93px;
	background: url('/images/light-red-stripes.png');
}

.social-media .icon img {
	position: relative;
	top: 19px;
	-webkit-transition: top .2s ease-out;
}

.social-media:hover {
	color: #fa463c;
}

.social-media:hover .icon img {
	top: 15px;
}

.social-intro {
	display: block;
	font-size: 14px;
	margin-top: 8px;
}

.social-name {
	display: block;
	font-family: 'Francois One', sans-serif;
	font-size: 23px;
	text-transform: uppercase;
}
